# ==========================================
# NAFDAC Greenbook API Environment Variables
# ==========================================

# Target greenbook base URL
BASE_URL=http://greenbook.nafdac.gov.ng

# Server Port
PORT=8000

# SQLite Database path
DB_PATH=drugs.db
